name: 'Chromatic'

on: push

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install

      - name: Prepare environment
        run: |
          pnpm run prisma:setup
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          SESSION_KEY: ${{ secrets.SESSION_KEY }}
          OAUTH_CLIENT_KEY: ${{ secrets.OAUTH_CLIENT_KEY }}
          OAUTH_CLIENT_SECRET: ${{ secrets.OAUTH_CLIENT_SECRET }}

      - name: Install Playwright Dependencies
        run: pnpm exec playwright install chromium --with-deps

      - name: Run vitest
        run: pnpm run test

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
